.home{
    background-color: #f5f5f9;
    overflow-y: scroll;
    .navbar{
        height: 50px;
        background-color: #00bc5b;
        line-height:50px;
        color:#fff;
        div{
            div{
                display: inline-block;
            }
            .three{
                position: absolute;
                right: 10px;
                top: 5px;
            }
        }
    }
    .homeSearch{
        width: 110%;
        font-size: 14px;
        padding: 10px 10px;
        border-radius: 50px;
    }
}

.tool{
    background-color: #fff;
    strong{
        color: #00bc5b;
        font-size: 20px;
        margin-right: 10px;
    }
    span{
        color: #858585;
    }
}
.guess{
    background-color: #fff;
}
.loveList{
    .head{
        font-size: 24px;
        font-weight: 700;
        color: #000;
    }
    div{
        color: #8c8c8c;
    }
    .strong{
        color: red;
    }
}